.Entry{
    padding: 1rem;
    background-color: #14110f;
    border: 1.5px solid rgba(0,0,0);
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
    outline: none;
}
.Form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.Form input{
    width: 80%;
    height: 1.5rem;
    font-weight: bold;
}
.Form button{
    margin-top: 0.5rem;
    width: 15%;
    height: 2rem;
    outline: none;
    border-radius: 5px;
    background-color: #1098f7;
    color: white;
}
.Form button:hover{
    background-color: #6096ba;
}
@media(min-width : 500px){
    .Entry{
        width: 90%;
    }
    .Form{
        flex-direction : row;
    }
    .Form input{
        width: 70%;
    }
    .Form button{
        margin: 0;
        width: 20%;
    }
}
