.AppLayout{
    width: 100%;
    background-color: #7e7f83;
    padding: 2rem 0;    
    height: 100vh;
}

@media(min-width : 500px){
    .AppLayout{
        width: 70%;
        max-width: 600px;
        height: 85vh;
        margin : auto;
        border : 2px solid rgba(0,0,0);
        border-radius: 5px;
        margin-top: 5vh;
        box-sizing: border-box;
    }
    
}